
  a{
    color:black;
    text-decoration: none;
  }

  h1{
    text-align: center;
    font-size: 60px;
    border-bottom: 2px solid gray;
    padding:5px;
    margin: 0px;

  }

  #grid {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
  }
  #grid ol{
    border-right : 2px solid gray;
    width : 100px;
    margin: 0;
    padding: 15px;
    padding-left: 32px;
  }

  #grid .article{  /*걍 #article만 써도 되긴 하지만, 부모를 보여주기위해 이렇게도 쓴다.*/
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 0px;
    border-right: 2px solid gray;
  }
  @media(max-width:900px){
      #grid {
        display : block;  /* 600px보다 작을 때, grid가 블록으로 바뀜.*/
      }
  }
